body {
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#graphic {
    border: solid 1px gray;
}

.button {
    padding: 3px;
    border: solid 1px gray;
    background-color: rgb(238, 238, 238);
}
.button:hover {
    background-color: rgb(245, 245, 245);
}